@import "tailwindcss";


@theme {
  --color-dark-navy: #000000;
  --color-black: #000;
  --color-navy-slate: #1A2A44;
  --color-light-slate: #FFFFFF;
  --color-slate: #FFFFFF;
  --color-accent-cyan: #6DF0EC;
  --color-accent-blue: #0ea5e9;
  --font-sans: "Space Grotesk", sans-serif;
  --font-mono: "Space Mono", monospace;
  --font-efi: "JetBrains Mono", monospace;
}

@layer base {
  body {
    background-color: var(--color-black);
    background-image: 
      linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 2px),
      linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 2px);
    background-size: 100px 100px;
  }
}

@keyframes slide-in-left {
  0% { transform: translateX(-60px); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}

.menu-link.show {
  animation: slide-in-left 0.3s ease-out forwards;
}
