---
import HeadContainer from "@components/HeadContainer.astro";
import Link from "@components/Link.astro";
import { SITE } from "@consts";

// const isIndexPage = Astro.url.pathname === '/';
// const textSizeClass = isIndexPage ? 'md:text-lg text-base' : 'md:text-xl text-lg';
---

<header>
  <HeadContainer>
    <div class="flex flex-col items-center gap-y-2 md:flex-row md:justify-between">
      <Link href="/" underline={false}>
        <div class="font-semibold">
          {SITE.NAME}
        </div>
      </Link>
      <nav class="flex gap-4">

        <Link href="/work">
          work
        </Link>

        <Link href="/projects">
          projects
        </Link>
        <Link href="/publications">
          publications
        </Link>
        <Link href="/certifications">
          certifications
        </Link>
        <Link href="/resume">
          resume
        </Link>
      </nav>
    </div>
  </HeadContainer>
</header>
